<!-- Add Goal -->
<div class="modal fade" id="addGoalModal" tabindex="-1" aria-labelledby="addGoalModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg ">
        <div class="modal-content book_modal_card p-4">
            <div class="modal-header">
                <h3 class="modal-title" id="addGoalModalLabel">Add a new goal</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">



                <!-- Manual Upload Tab -->
                <div class="tab-pane fade show active" id="manualTab" role="tabpanel">
                    <form action="{% url 'readquest:add-goal' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <!-- makes the user stay on the same page after clicking submit -->
                        <input type="hidden" name="next" value="{{ request.path }}">

                       
                    </form>
                </div>


            </div>
        </div>

    </div>
</div>
