{% load static %}
{% load readquest_template_tags %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'CSS/style.css' %}" rel="stylesheet">


    <!-- Icons -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="{% static 'JS/script.js' %}"></script>
    <script src="{% static 'JS/cookies.js' %}" defer></script>
    <title>ReadQuest -
        {% block title_block %}

        {% endblock %}
    </title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
    </style>
</head>


<body class="body-background d-flex flex-column min-vh-100">

    <header>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">

                <a href="{% url 'readquest:home' %}"> <img src="{% static 'images/logo.jpg' %}" alt="ReadQuest Logo"
                        id="logo_auth_page" class="navbar-brand p-2"></a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse justify-content-end" id="navbarNavAltMarkup">

                    <ul class="mb-lg-0 navbar-nav">
                        <li class="p-4"><a id="nav-home" href="{% url 'readquest:home' %}"
                                class="text-decoration-none nav-item">Home</a></li>
                        <li class=" p-4"><a href="{% url 'readquest:profile' %}"
                                class="text-decoration-none nav-item">Profile</a></li>
                        <li class="p-4"><a href="{% url 'readquest:goals' %}"
                                class="text-decoration-none nav-item">Goals</a></li>
                        </li>
                        <li class=" p-4"><a href="{% url 'readquest:catalogue_book-search' %}"
                                class="text-decoration-none nav-item">Catalogue</a></li>
                    </ul>


                    <!-- Search bar -->
                    <div id="search_nav">
                        <form class="d-flex align-items-center me-2"
                            action="{% url 'readquest:catalogue_book-search' %}" method="get">
                            <input class="form-control me-2" id="search" type="search" name="q" placeholder="Search"
                                aria-label="Search">
                            <button class="btn btn-outline-success" type="submit" id="search_btn">Search</button>
                        </form>
                    </div>



                    <div class="dropdown">
                        <img src="{% static 'images/profile.png' %}" alt="Profile icon" id="profile_img"
                            onclick="toggleDropdown()" class="btn btn-dropdown dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <div id="myDropdown" class="dropdown-menu dropdown-menu-end">
                            <li><a href="{% url 'readquest:profile' %}" class="dropDownItem">Profile</a></li>
                            <li><a href="{% url 'readquest:logout' %}" class="dropDownItem">Logout</a></li>
                        </div>
                    </div>


                    <ul>

                        

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container pt-4">
        <!-- Page specific content goes here -->
        {% block body_block %}

        {% endblock %}
    </div>


    <footer class="bg-dark p-4 mt-4 footer-expand-lg">
        <div class="container">
            <div class="d-flex col-12 p-2 justify-content-between">
                <div class="col-10">
                    <div>
                        <p style="color: white;"> If you need any additional information about Readquest</p>
                        <hr style="color:white; margin: 0; padding: 0;">>
                    </div>
                    <div>
                        <ul class="d-flex footer-list float-start">
                            <li class="footer-item pe-4 pt-1"><a id="nav-home" href="{% url 'readquest:home' %}"
                                    class="text-decoration-none">Home</a></li>
                            <li class="footer-item pe-4 ps-4 pt-1"><a href="{% url 'readquest:profile' %}"
                                    class="text-decoration-none">Profile</a></li>
                            <li class="footer-item pe-4 ps-4 pt-1"><a href="{% url 'readquest:goals' %}"
                                    class="text-decoration-none">Goals</a></li>
                            <li class="footer-item pe-4 ps-4 pt-1"><a href="{% url 'readquest:catalogue_book-search' %}"
                                    class="text-decoration-none">Catalogue</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-1">
                    <a href="{% url 'readquest:home' %}">
                        <img src="{% static 'images/logo_white.png' %}" alt="ReadQuest Logo" id="footer_logo"
                            class="p-2">
                    </a>
                </div>
            </div>
        </div>
    </footer>

    {% include 'readquest/cookie_banner.html' %}
</body>

</html>