{% extends 'readquest/base_authenticate.html' %}
{% load static %}

{% block title_block %}
Goals
{% endblock %}


{% block body_block %}
<div class="d-flex justify-content-between align-items-center mb-3">
                    <h1 class="mb-0">Your goals</h1>
                    <button class="button_two btn p-2">Add new goal +</button>
                </div>

<div class="container p-0">
    <div class="row mt-2 p-0 g-4">

        <!-- Current Read -->
        <div class="col-12">
            <div class="p-4 base_cards">
                <div class="progress mb-3" style="height: 28px;">
                            <div class="progress-bar" role="progressbar" style="width:45%;" aria-valuenow="45"
                                aria-valuemin="0" aria-valuemax="100">
                                45%
                            </div>
                        </div>






            </div>
        </div>


         <!-- Badges -->

    <div class="mt-4 p-4 base_cards">
        <h2 class="mb-3">Badges</h2>
        <div class="row g-3 mt-4">

            <!-- Box for each badge  -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="dark_card d-flex flex-column justify-content-center align-items-center p-3 h-100">
                    <i class="bi bi-trophy fs-2 mb-2"></i>
                    <h4 class="text-center mb-0">Read 10 books</h4>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-3">
                <div class="dark_card d-flex flex-column justify-content-center align-items-center p-3 h-100">
                    <i class="bi bi-postcard fs-2 mb-2"></i>
                    <h4 class="text-center mb-0">Read a classic</h4>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-3">
                <div class="dark_card d-flex flex-column justify-content-center align-items-center p-3 h-100">
                    <i class="bi bi-rocket fs-2 mb-2"></i>
                    <h4 class="text-center mb-0">Read a book about space</h4>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-3">
                <div class="dark_card d-flex flex-column justify-content-center align-items-center p-3 h-100">
                    <i class="bi bi-record-circle fs-2 mb-2"></i>
                    <h4 class="text-center mb-0">Read a book in one night</h4>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>


{% endblock %}