{% extends 'readquest/base.html' %}
{% load static %}


{% block title_block %}
Welcome
{% endblock %}


{% block body_block %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <img src="{%static 'images/front_page_library.jpg'%}" class="col-md-12 rounded-3" id="front_image">
        </div>
        <div class="col-md-4 card-custom card-body p-2 text-center  ">
            <div class="d-flex align-items-center justify-content-center header-container p-4">
                <img src="{% static 'images/logo.jpg' %}" alt="ReadQuest Logo" class="logo-img me-3">
                <h1 class="brand-title">Welcome Back</h1>
            </div>
            <div>
                <button class="button btn w-30 py-2 fs-6 mt-3" type="button"> Register for ReadQuest</button>
                <button class="button btn w-30 py-2 fs-6 mt-3" type="button">Log in</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

</html>